.blogs-card__link {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Gilroy';
  font-size: 14px;
  line-height: 140.62%;
  /* identical to box height, or 20px */
  color: #000;
  transition: .5s;
}

.blogs-card__link:hover {
  text-shadow: 5px -5px #00000088;
}