.footer-center__privacy {
  width: 101px;
  min-height:20px;
  padding: 0 0 6px 0;
  margin: 0 613px 0 14px; 
  font-family: 'Gilroy';
  font-size: 14px;
  line-height: 140.62%;
  /* identical to box height, or 20px */
  text-align: center;
  text-decoration: none;
  color: #000;
  transition: .3s;
}

.footer-center__privacy:hover {
  text-shadow: 5px -5px #00000088;
}